<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>soccer_leauge_27th_08</display-name>
   <resource-ref>
      <description>DB Connection</description>
      <res-ref-name>jdbc/mysql</res-ref-name>
      <res-type>javax.sql.DataSource</res-type>
      <res-auth>Container</res-auth>
  </resource-ref>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddLeagueController</display-name>
    <servlet-name>AddLeagueController</servlet-name>
    <servlet-class>comm.example.controller.AddLeagueController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLeagueController</servlet-name>
    <url-pattern>/AddLeagueController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLeagueServelet</display-name>
    <servlet-name>AddLeagueServelet</servlet-name>
    <servlet-class>comm.example.view.AddLeagueServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLeagueServelet</servlet-name>
    <url-pattern>/AddLeagueServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ErrorServelet</display-name>
    <servlet-name>ErrorServelet</servlet-name>
    <servlet-class>comm.example.view.ErrorServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ErrorServelet</servlet-name>
    <url-pattern>/ErrorServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SucessServelet</display-name>
    <servlet-name>SucessServelet</servlet-name>
    <servlet-class>comm.example.view.SucessServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SucessServelet</servlet-name>
    <url-pattern>/SucessServelet</url-pattern>
  </servlet-mapping>
</web-app>